body, html {
    height: 100%;
}
div {
    left: 50%;
    top: 50%;
}
button {
    background-color: red;
    color: black;
    border: 2px solid #4CAF50;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.bgi {
    background-image: url(houseofreitman.jpg);
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.houseOfReitmanGreeting {
    left: 50%;
    top: 50%;
    font-family: fantasy;
    font-style: inherit;
    font-size: 50px;
    text-align: center;
    text-shadow: 2px 2px 8px #FF0000; 
    color: yellow;
}
#reitman {
    position: fixed;
}
